body {
    font-family: @font-primary;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
}

.page {
    overflow: hidden;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 100px;
    @media (max-width: @breakpoint-xsmall-max) {
        padding: 0 10px;
    }
}

.intro {
    height: 100vh;
    background: #e7f0f2 url('../img/intro-bg.jpg') 50% 50% no-repeat;
    background-size: cover;
    position: relative;
}

.intro__section-desc {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 100px;
    position: relative;
    top: 11%;
    opacity: 0;
    @media (max-width: @breakpoint-xsmall-max) {
        padding: 0 10px;
    }
}

.intro__content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-desc {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: @font-secondary;
    font-size: 16px;
    letter-spacing: 0px;
    color: rgb(114,124,131);
    font-weight: 700;
}

.intro__titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 14.4%;
    margin-bottom: 4.5%;
    @media (max-width: @breakpoint-medium-max) {
        margin-bottom: 20%;
    }
}

.intro__overhead {
    width: 240px;
    margin-bottom: 90px;
    opacity: 0;
    @media (max-width: @breakpoint-xsmall-max) {
        margin-bottom: 20px;
    }
}

.intro__sitetitle {
    width: 786px;
    @media (max-width: @breakpoint-medium-max) {
        max-width: 90%;
    }
}

.intro__subtitle {
    align-self: flex-end;
    width: 365px;
    max-width: 50%;
    position: relative;
    top: -15px;
    left: -8px;
    transform: scale(0);
    @media (max-width: @breakpoint-xsmall-max) {
        top: 0;
    }
}

.intro__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 67px;
    height: 67px;
    min-width: 67px;
    min-height: 67px;
    margin: 0 auto 5%;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.25s, background-color 0.25s;
    opacity: 0;
    .intro__btn-arrow {
        width: 10px;
        height: 18px;
        fill: #fff;
    }
    .intro__btn-arrow-hovered {
        display: none;
        width: 10px;
        height: 26px;
        fill: #fff;
    }
    &:hover {
        border-color: #76b7ee;
        background-color: #76b7ee;
        transition: border-color 0.25s, background-color 0.25s;
        .intro__btn-arrow {
            display: none;
        }
        .intro__btn-arrow-hovered {
            display: block;
        }
    }
    &:focus {
        outline: 1px solid #fff;
    }
}

.section-desc__number {
    position: relative;
    &::before {
        content: '';
        width: 35px;
        height: 1px;
        background-color: #717b83;
        position: absolute;
        top: ~"calc(50% + 2px)";
        left: -45px;
        transform: translateY(-50%);
    }
}

.about__section-desc {
    padding: 19.7% 0 9.4%
}

.about__title {
    margin-bottom: 3.8%;
    text-align: center;
    svg {
        width: 782px;
        max-width: 100%;
        height: 61px;
        fill: #69b1d2;
    }
}

.about__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 495px);
    grid-column-gap: 120px;
    grid-row-gap: 20px;
    justify-content: center;
    margin: 0 8% 1.5% 8.7%;
    font-size: 24px;
    font-weight: 400;
    p {
        margin: 35px 0 !important;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        grid-template-columns: repeat(auto-fit, 300px);
        margin: 0 0 10%;
        font-size: 18px;
    }
}

.about__video-wrapper {
    max-width: 1260px;
    padding-bottom: 53.5%;
    position: relative;
    margin: 0 5% 13.5%;
    @media (max-width: @breakpoint-small-max) {
        margin: 0 auto 13.5%;
    }
}

.about__video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.about__goals {
    display: grid;
    grid-column-gap: 65px;
    grid-row-gap: 25px;
    grid-template-columns: 350px 500px;
    justify-content: center;
    margin-bottom: 14%;
    margin-left: 10%;
    @media (max-width: @breakpoint-large-max) {
        margin-left: 0;
    }
    @media (max-width: @breakpoint-small-max) {
        grid-template-columns: 1fr;
    }
}

.about__goals-title {
    margin-bottom: 20px;
    span {
        padding-left: 137px;
        font-size: 48px;
        letter-spacing: 2px;
        line-height: 1;
        color: rgb(29,140,189);
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
        &::before {
            content: '';
            width: 109px;
            height: 4px;
            background-color: #1d8bbd;
            position: absolute;
            top: ~"calc(50% + 6px)";
            left: 0;
            transform: translateY(-50%);
        }
        @media (max-width: @breakpoint-xsmall-max) {
            padding-left: 65px;
            font-size: 28px;
            &::before {
                width: 50px;
            }
        }
    }
}

.about__goals-text {
    font-size: 24px;
    @media (max-width: @breakpoint-xsmall-max) {
        font-size: 18px;
    }
}

.home {
    padding-top: 10.7%;
    background-image: linear-gradient(to bottom, #dbeffa, #fff 20%);
}

.home__section-desc {
    margin-bottom: 9%;
}

.home-tile {
    position: relative;
    z-index: 2;
    padding-bottom: 39.5%;
}

.home-tile__mark {
    position: absolute;
    z-index: 3;
    width: 46%;
    top: 1.1%;
    left: 7.3%;
    @media (max-width: @breakpoint-xsmall-max) {
        top: -15%;
        left: 5%;
    }
}

.home-tile__title {
    padding: 2% 2% 2% 6.5%;
    background-color: #129bc9;
    color: #ffffff;
    font-size: 2.5vw;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 1.4px;
    position: relative;
    z-index: 2;
    @media (max-width: @breakpoint-xsmall-max) {
        font-size: 4.49vw;
    }
}

.home-tile__text {
    margin-top: 4.5%;
    margin-left: 7%;
    font-size: 1.26vw;
    font-weight: 300;
    white-space: nowrap;
    @media (max-width: @breakpoint-xsmall-max) {
        font-size: 2.5vw;
    }
}

.home-tile__thread {
    position: absolute;
    top: 54%;
    left: 5%;
    padding-top: 31%;
    border-right: 1px dashed #2589aa;
    @media (max-width: @breakpoint-xsmall-max) {
        padding-top: 38%
    }
}

.home-tile__dot {
    width: 1vw;
    height: 1vw;
    background-color: #2589aa;
    border-radius: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.home-tile__image {
    &-1 {
        width: 57%;
        position: absolute;
        top: 39.5%;
        left: 6.5%;
    }
    &-2 {
        width: 53%;
        position: absolute;
        top: 69%;
        left: 36%;
    }
    &-3 {
        width: 54%;
        position: absolute;
        top: 94%;
        left: 60.6%;
    }
    &-4 {
        width: 95%;
        position: absolute;
        top: 13%;
        left: 36%;
    }
    &-5 {
        width: 65%;
        position: absolute;
        top: 63%;
        left: 73.5%;
    }
    &-6 {
        width: 66%;
        position: absolute;
        top: 49%;
        left: 103.4%;
    }
}

.home-layout {
    margin-bottom: 17%;;
    padding-bottom: 20%;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 21px rgba(0,0,0,0.12);
}

.home-layout__topic {
    position: absolute;
    z-index: 3;
    width: 46%;
    top: 0.86%;
    left: 4.2%;
}

.home-layout__news {
    position: absolute;
    z-index: 3;
    width: 46%;
    top: 1.05%;
    left: 49.5%;
}

.home-layout__articles {
    position: absolute;
    z-index: 4;
    width: 100%;
    top: 10.15%;
    left: 0;
}

.home-layout__news {
    &-title {
        position: absolute;
        z-index: 3;
        width: 34.9%;
        top: 22.5%;
        left: 10.5%;
    }
    &-all{
        position: absolute;
        z-index: 3;
        width: 9%;
        top: 22.7%;
        left: 51%;
    }
    &-1 {
        position: absolute;
        z-index: 3;
        width: 25.2%;
        top: 23.95%;
        left: 10.5%;
    }
    &-2 {
        position: absolute;
        z-index: 3;
        width: 25.2%;
        top: 29.05%;
        left: 10.6%;
    }
    &-3 {
        position: absolute;
        z-index: 3;
        width: 25.2%;
        top: 34.4%;
        left: 10.5%;
    }
    &-4 {
        position: absolute;
        z-index: 3;
        width: 52%;
        top: 23.95%;
        left: 37.4%;
    }
    &-5 {
        position: absolute;
        z-index: 3;
        width: 25.3%;
        top: 31.7%;
        left: 37.4%;
    }
    &-6 {
        width: 25.1%;
        position: absolute;
        z-index: 3;
        top: 31.7%;
        left: 64%;
    }
}

.home-layout__questionnaire {
    &-title {
        width: 18%;
        position: absolute;
        z-index: 3;
        top: 53.15%;
        left: 10.7%;
    }
    &-all {
        width: 9.5%;
        position: absolute;
        z-index: 3;
        top: 54.1%;
        left: 10.6%;
    }
    &-1 {
        width: 25%;
        position: absolute;
        z-index: 3;
        top: 54.5%;
        left: 11%;
    }
    &-2 {
        width: 25%;
        position: absolute;
        z-index: 3;
        top: 54.5%;
        left: 37.4%;
    }
    &-3 {
        width: 25%;
        position: absolute;
        z-index: 3;
        top: 54.5%;
        left: 64.3%;
    }
}

.home-layout__video {
    &-title {
        width: 18.6%;
        position: absolute;
        z-index: 3;
        top: 59.1%;
        left: 10.6%;
    }
    &-all {
        width: 9.5%;
        position: absolute;
        z-index: 3;
        top: 60.05%;
        left: 10.8%;
    }
    &-1 {
        width: 25%;
        position: absolute;
        z-index: 3;
        top: 60.45%;
        left: 10.9%;
    }
    &-2 {
        width: 25%;
        position: absolute;
        z-index: 3;
        top: 60.45%;
        left: 37.4%;
    }
    &-3 {
        width: 25%;
        position: absolute;
        z-index: 3;
        top: 60.45%;
        left: 64.4%;
    }
}

.home-layout__parallax {
    position: absolute;
    width: 100vw;
    padding-top: 72%;
    top: 66.2%;
    left: 50%;
    z-index: 4;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-image: linear-gradient(125deg, #fbfcfd, #f4f7f9 50%);
}

.home-layout__parallax-scene {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.home-layout__cup {
    width: 22%;
    position: absolute;
    top: 56% !important;
    left: 25% !important;
    z-index: 3;
}

.home-layout__parallax {
    &-1 {
        position: absolute;
        z-index: 6;
        width: 3%;
        top: 6% !important;
        left: 28.5% !important;
    }
    &-2 {
        position: absolute;
        z-index: 6;
        width: 8%;
        top: 35.5% !important;
        left: 15.5% !important;
    }
    &-3 {
        position: absolute;
        z-index: 6;
        width: 4%;
        top: 46.5% !important;
        left: 23.2% !important;
    }
    &-4 {
        position: absolute;
        z-index: 4;
        width: 15%;
        top: 140% !important;
        left: 76% !important;
    }
    &-5 {
        position: absolute;
        z-index: 4;
        top: -7% !important;
        width: 7%;
        left: 78.6% !important;
    }
    &-6 {
        position: absolute;
        z-index: 4;
        width: 15%;
        top: 51% !important;
        left: 24.5% !important;
    }
    &-7 {
        position: absolute;
        z-index: 4;
        width: 8%;
        top: 50% !important;
        left: 30.8% !important;
    }
    &-8 {
        position: absolute;
        z-index: 4;
        width: 2.5%;
        top: 96% !important;
        left: 38% !important;
    }
    &-9 {
        position: absolute;
        z-index: 4;
        left: 24.5% !important;
        top: 60.5% !important;
        width: 1.1%;
    }
    &-10 {
        position: absolute;
        z-index: 6;
        left: 24% !important;
        top: 71.5% !important;
        width: 3%;
    }
    &-11 {
        position: absolute;
        z-index: 4;
        width: 5.5%;
        top: 80% !important;
        left: 30% !important;
    }
    &-12 {
        position: absolute;
        z-index: 4;
        width: 8%;
        top: 74.4% !important;
        left: 34.9% !important;
    }
    &-13 {
        position: absolute;
        z-index: 4;
        width: 3.7%;
        left: 18.9% !important;
        top: 65% !important;
    }
    &-14 {
        position: absolute;
        z-index: 4;
        width: 3%;
        top: 50% !important;
        left: 32.5% !important;
    }
    &-15 {
        position: absolute;
        z-index: 4;
        width: 10%;
        top: 85% !important;
        left: 21.5% !important;
    }

}

.home-layout__basics {
    &-title {
        width: 30.4%;
        position: absolute;
        z-index: 5;
        top: 68.3%;
        left: 10.8%;
    }
    &-shadow {
        width: 31.5%;
        position: absolute;
        z-index: 5;
        top: 69.6%;
        left: 14.4%;
    }
    &-point-1 {
        width: 21%;
        position: absolute;
        z-index: 5;
        top: 68.4%;
        left: 50.1%;
    }
    &-point-2 {
        width: 30.7%;
        position: absolute;
        z-index: 5;
        top: 70.8%;
        left: 50.1%;
    }
    &-point-3 {
        width: 34%;
        position: absolute;
        z-index: 5;
        top: 73.15%;
        left: 50.1%;
    }
    &-text-1 {
        width: 32.5%;
        position: absolute;
        z-index: 5;
        top: 69.1%;
        left: 53.5%;
    }
    &-text-2 {
        width: 32%;
        position: absolute;
        z-index: 5;
        top: 71.8%;
        left: 53.5%;
    }
    &-text-3 {
        position: absolute;
        width: 34%;
        z-index: 5;
        top: 73.85%;
        left: 53.5%;
    }
    &-text-4 {
        position: absolute;
        z-index: 3;
        width: 24.5%;
        z-index: 5;
        top: 77.7%;
        left: 53.5%;
    }
}

.home-layout__reference {
    position: absolute;
    z-index: 3;
    width: 80%;
    top: 80.9%;
    left: 10%;
}

.home-layout__readmore {
    &-title {
        position: absolute;
        z-index: 3;
        width: 19%;
        top: 86.9%;
        left: 39.5%;
    }
    &-1 {
        position: absolute;
        z-index: 3;
        width: 25.5%;
        top: 88.15%;
        left: 9.5%;
    }
    &-2 {
        position: absolute;
        z-index: 3;
        width: 25.5%;
        top: 88.15%;
        left: 36.3%;
    }
    &-3 {
        position: absolute;
        z-index: 3;
        width: 25.5%;
        top: 88.15%;
        left: 63%;
    }
    &-4 {
        position: absolute;
        z-index: 3;
        width: 25.5%;
        top: 91.7%;
        left: 9.5%;
    }
    &-5 {
        position: absolute;
        z-index: 3;
        width: 25.5%;
        top: 91.7%;
        left: 36.3%;
    }
    &-6 {
        position: absolute;
        z-index: 3;
        width: 25.5%;
        top: 91.7%;
        left: 63%;
    }
    &-7 {
        position: absolute;
        z-index: 3;
        width: 25.5%;
        top: 95.3%;
        left: 9.5%;
    }
    &-8 {
        position: absolute;
        z-index: 3;
        width: 25.5%;
        top: 95.3%;
        left: 36.3%;
    }
    &-9 {
        position: absolute;
        z-index: 3;
        width: 25.5%;
        top: 95.3%;
        left: 63%;
    }
}

.dynamic {
    padding-bottom: 12%;
    background: #608aab url('../img/dynamic-bg.jpg') 50% 50% no-repeat;
    background-size: cover;
}

.dynamic__section-desc {
    padding: 16% 0 6%;
    font-size: 13px;
    color: #fff;
    span {
        font-size: 16px;
        &::before {
            background-color: #fff;
        }
    }
}

.dynamic__laptop {
    margin-left: 33.5%;
    width: 60.3%;
    padding-top: 42.5%;
    background: url('../img/dynamic-laptop.png') 50% 50% no-repeat;
    background-size: cover;
    position: relative;
}

.dynamic__laptop-screen {
    width: 82.2%;
    box-sizing: border-box;
    padding: 4.4% 2.5% 4.5% 3.2%;
    position: absolute;
    top: 9.5%;
    left: 8.9%;
    background: url('../img/laptop-bg.jpg') 50% 50% no-repeat;
    background-size: 100% 100%;
}

.dynamic__heading {
    display: flex;
    align-items: center;
    margin-bottom: 6.4%;
}

.dynamic__title {
    margin-right: 10.7%;
    color: #999999;
    font-family: @font-decor;
    font-size: 1.97vw;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
}

.dynamic__all {
    position: relative;
    top: -0.2vw;
    color: #000000;
    font-size: 0.8vw;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.1vw;
}

.dynamic__content {
    display: flex;
}

.dynamic__article {
    &:nth-child(1) {
        width: 32.3%;
        margin-right: 2%;
    }
    &:nth-child(2) {
        width: 31%;
        margin-right: 2.8%;
    }
    &:nth-child(3) {
        width: 32%;
        margin-right: 0;
    }
}

.dynamic__article-date {
    margin-bottom: 6.5%;
    color: #999999;
    font-family: @font-secondary;
    font-size: 0.43vw;
    line-height: 1;
    letter-spacing: 0.06vw;
}

.dynamic__article-title {
    margin-bottom: 5%;
    font-family: @font-decor;
    color: #669933;
    font-size: 1vw;
    line-height: 1.1;
    letter-spacing: 0.05vw;
}

.dynamic__article-text {
    margin-bottom: 9%;
    color: #333333;
    font-size: 0.7vw;
    font-weight: 300;
    line-height: 1.34;
    letter-spacing: 0.06vw;
}

.dynamic__article-image {
    position: relative;
    cursor: pointer;
    &:hover {
        .dynamic__article-hover {
            opacity: 1;
            transition: opacity 0.5s;
        }
    }
}

.dynamic__article-image_first {
    padding-top: 95%;
    background: url('../img/laptop-article-1.jpg') 50% 50% no-repeat;
    background-size: cover;
}

.dynamic__article-hover {
    opacity: 0;
    padding: 8%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(76, 85, 94, 0.7);
    transition: opacity 0.5s;
}

.dynamic__article-hover_second {
    .dynamic__article-date,
    .dynamic__article-title,
    .dynamic__article-text {
        color: #fff;
    }
}

.dynamic__article-image_second {
    padding-top: 173%;
    background: url('../img/laptop-article-2.jpg') 50% 50% no-repeat;
    background-size: cover;
}

.dynamic__article-image_third {
    margin-bottom: 8%;
    padding-top: 105%;
    background: url('../img/laptop-article-3.jpg') 50% 50% no-repeat;
    background-size: cover;
}

.dynamic__article-hover_third {
    display: flex;
    align-items: flex-end;
}

.dynamic__article-date_third {
    margin-bottom: 5.3%;
}

.dynamic__article-title_third {
    margin-bottom: 2.5%;
}

.dynamic__mark {
    position: absolute;
    top: 25%;
    left: -24.4%;
    @media (max-width: @breakpoint-xsmall-max) {
        left: -51.4%;
    }
}

.dynamic__mark-title {
    display: inline-block;
    margin-bottom: 9%;
    padding: 4.5% 16% 5% 12.4%;
    background-color: #129bc9;
    color: #ffffff;
    font-size: 2.49vw;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.05vw;
    @media (max-width: @breakpoint-xsmall-max) {
        font-size: 4.49vw;
    }
}

.dynamic__mark-text {
    margin-left: 14%;
    color: #ffffff;
    font-size: 1.15vw;
    font-weight: 300;
    letter-spacing: 0.06vw;
    line-height: 1.6;
    @media (max-width: @breakpoint-xsmall-max) {
        font-size: 3vw;
    }
}

.dynamic__mark-thread {
    z-index: 1;
    &_first {
        width: 226%;
        height: 30%;
        position: absolute;
        top: -12%;
        left: 94%;
        border-top: 1px dashed #129bc9;
        border-right: 1px dashed #129bc9;
        border-left: 1px dashed #129bc9;
        @media (max-width: @breakpoint-xsmall-max) {
            width: 150%;
            height: 20%;
        }
    }
    &_second {
        width: 127%;
        height: 1px;
        position: absolute;
        top: 18%;
        left: 100%;
        border-top: 1px dashed #129bc9;
        @media (max-width: @breakpoint-xsmall-max) {
            width: 95%;
        }
    }
    &_third {
        width: 42%;
        height: 80%;
        position: absolute;
        top: 30%;
        left: 94%;
        border-bottom: 1px dashed #129bc9;
        border-left: 1px dashed #129bc9;
        @media (max-width: @breakpoint-xsmall-max) {
            top: 10%;
            left: 100%;
        }
    }
}

.dynamic__mark-dot {
    width: 1vw;
    height: 1vw;
    position: absolute;
    background-color: #129bc9;
    border-radius: 50%;
    &_first {
        top: 85%;
        left: 98.5%;
        @media (max-width: @breakpoint-xsmall-max) {
            left: 99.5%;
        }
    }
    &_second {
        left: 98.5%;
        top: -1000%;
        @media (max-width: @breakpoint-xsmall-max) {
            left: 98.5%;
            top: -200%;
        }
    }
    &_third {
        top: 95%;
        left: 95%;
        @media (max-width: @breakpoint-xsmall-max) {
            top: 99%;
        }
    }
}

.fonts__section-desc {
    padding: 15.5% 0 22.6%;
}

.fonts__titles {
    display: flex;
    align-items: flex-end;
    margin: 0 auto 14.8%;
}

.fonts__comfortaa {
    margin-left: 10.6%;
    margin-right: 17.5%;
    position: relative;
}

.fonts__comfortaa-name {
    width: 28vw;
}

.fonts__comfortaa-bg  {
    width: 45vw;
    padding-top: 17vw;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -60%);
    background: url('../img/comfortaa-bg.svg') 50% 50% no-repeat;
    background-size: contain;
}

.fonts__lato {
    position: relative;
}

.fonts__lato-name {
    width: 10.6vw;
}

.fonts__lato-bg  {
    width: 25vw;
    padding-top: 17vw;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-55%, -57%);
    background: url('../img/lato-bg.svg') 50% 50% no-repeat;
    background-size: contain;
}

.fonts__letters {
    margin-bottom: 12%;
    text-align: center;
}

.guidelines {
    background: url('../img/guidelines-bg.png') 50% 0% no-repeat;
    background-size: contain;
}

.guidelines__section-desc {
    padding: 15.8% 0 25%;
}

.guidelines__book {
    position: relative;
    //padding-top: 65%;
    //background: url('../img/guidelines.png') 15% 0% no-repeat;
    //background-size: cover;
    @media (max-width: @breakpoint-xsmall-max) {
        margin-top: 20%;
    }
}

.guidelines__book-image {
    min-width: 105.5%;
    margin-top: 1%;
    margin-left: -1%;
}

.guidelines__mark {
    width: 27.8%;
    position: absolute;
    top: -14%;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    text-align: center;
    @media (max-width: @breakpoint-xsmall-max) {
        width: 100%;
        top: -54%;
    }
}

.guidelines__text {
    color: #000000;
    font-size: 1.26vw;
    @media (max-width: @breakpoint-xsmall-max) {
        font-size: 4vw;
    }
}

.guidelines__thread {
    height: 110%;
    border-left: 1px dashed #bbbbbb;
    position: absolute;
    top: 100%;
    left: 50%;
}

.guidelines__dot {
    width: 1vw;
    height: 1vw;
    position: absolute;
    top: 100%;
    left: 50%;
    border-radius: 50%;
    background-color: #bbbbbb;
    transform: translateX(-50%);
}

.guidelines__examples {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 65px;
    grid-row-gap: 30px;
    margin: -1.7% 20% 12.6% 21%;
    @media (max-width: @breakpoint-medium-max) {
        margin: -1.7% 5% 15% 5%;
    }
    @media (max-width: @breakpoint-small-max) {
        grid-template-columns: 1fr;
        .guidelines__calendar-title {
            order: 0;
        }
        .guidelines__calendar-image {
            order: 1;
        }
        .guidelines__buttons-title {
            grid-column: auto;
            order: 2;
        }
        .guidelines__buttons-image-1 {
            order: 3;
        }
        .guidelines__buttons-image-2 {
            order: 4;
        }
    }
}

.guidelines__buttons-title {
    grid-column-start: 2;
    grid-column-end: 4;
}

.fonts__headings {
    margin: 0 14% 5.9% 16%;
    @media (max-width: @breakpoint-xsmall-max) {
        margin: 0 0 6% 0;
    }
}

.fonts__headings-row {
    display: flex;
    align-items: flex-end;
    width: 100%;
    &:nth-child(1) {
        margin-bottom: 4%;
        .fonts__headings-tag  {
            margin-right: 1%;
            @media (max-width: @breakpoint-xsmall-max) {
                width: 15%;
            }
        }
        .fonts__headings-title {
            width: 40%;
            img {
                transform: translateY(21%);
            }
            @media (max-width: @breakpoint-xsmall-max) {
                width: 100%;
            }
        }
        .fonts__headings-thread {
            width: 46.6%;
        }
    }
    &:nth-child(2) {
        margin-bottom: 6%;
        .fonts__headings-tag  {
            margin-right: 1.5%;
            @media (max-width: @breakpoint-xsmall-max) {
                width: 15%;
            }
        }
        .fonts__headings-title {
            width: 47%;
            img {
                transform: translateY(25%);
            }
            @media (max-width: @breakpoint-xsmall-max) {
                width: 100%;
            }
        }
        .fonts__headings-thread {
            width: 38.8%;
        }
    }
    &:nth-child(3) {
        margin-bottom: 6.5%;
        .fonts__headings-tag  {
            margin-right: 1.5%;
            @media (max-width: @breakpoint-xsmall-max) {
                width: 15%;
            }
        }
        .fonts__headings-title {
            width: 42%;
            img {
                transform: translateY(25%);
            }
            @media (max-width: @breakpoint-xsmall-max) {
                width: 100%;
            }
        }
        .fonts__headings-thread {
            width: 44%;
        }
    }
    &:nth-child(4) {
        margin-bottom: 6.5%;
        .fonts__headings-tag  {
            margin-right: 1.5%;
            @media (max-width: @breakpoint-xsmall-max) {
                width: 15%;
            }
        }
        .fonts__headings-title {
            width: 39%;
            img {
                transform: translateY(24%);
            }
            @media (max-width: @breakpoint-xsmall-max) {
                width: 100%;
            }
        }
        .fonts__headings-thread {
            width: 47%;
        }
    }
    &:nth-child(5) {
        margin-bottom: 5.5%;
        .fonts__headings-tag  {
            margin-right: 1.5%;
            @media (max-width: @breakpoint-xsmall-max) {
                width: 15%;
            }
        }
        .fonts__headings-title {
            width: 28%;
            @media (max-width: @breakpoint-xsmall-max) {
                width: 100%;
            }
        }
        .fonts__headings-thread {
            width: 58%;
        }
    }
    &:nth-child(6) {
        .fonts__headings-tag  {
            margin-right: 1.3%;
            @media (max-width: @breakpoint-xsmall-max) {
                width: 15%;
            }
        }
        .fonts__headings-title {
            width: 30%;
            img {
                transform: translateY(25%);
            }
            @media (max-width: @breakpoint-xsmall-max) {
                width: 100%;
            }
        }
        .fonts__headings-thread {
            width: 56%;
        }
    }
}

.fonts__headings-tag {
    width: 5%;
}

.fonts__headings-thread {
    align-self: flex-end;
    border-bottom: 1px dashed #666666;
}

.fonts__headings-size {
    @media (max-width: @breakpoint-xsmall-max) {
        width: 25%;
    }
}

.fonts__common {
    margin-left: 20.3%;
    margin-bottom: 16.5%;
}

.adaptability {
    background-color: #aecfe4;
}

.adaptability__section-desc {
    padding: 15.7% 0 13.5%;
}

.adaptability__title {
    margin-bottom: 5.9%;
    text-align: center;
    color: #ffffff;
    font-size: 48px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 1.2px;
}

.adaptability__devices {
    display: flex;
    align-items: flex-end;
    width: 75%;
    margin: 0 auto 3.8%;
}

.adaptability__desktop {
    width: 42%;
    margin-right: 10%;
}

.adaptability__laptop {
    width: 22%;
    margin-right: 13.5%;
}

.adaptability__mobile {
    width: 9.5%;
}

.adaptability__text {
    margin-bottom: 18%;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    @media (max-width: @breakpoint-xsmall-max) {
        font-size: 20px;
    }
}

.adaptability__device-size {
    margin-top: 43px;
    font-family: @font-secondary;
    font-weight: 500;
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 1;
    white-space: nowrap;
}

.adaptability__count {
    font-family: @font-secondary;
    text-align: center;
    color: #333333;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    span {
        display: inline-block;
        margin: 0 10px 0 14px;
        transform: translateY(70px);
        color: #ffffff;
        font-size: 231px;
        font-weight: 900;
        letter-spacing: -0.18px;
    }
    @media (max-width: @breakpoint-small-max) {
        font-size: 20px;
        span {
            margin: 0;
            font-size: 100px;
            transform: translateY(30px);
        }
    }
}

.adaptability__pool {
    position: relative;
    padding-top: 307%;
}

.adaptability__olive {
    width: 22%;
    position: absolute;
    top: 0.6%;
    left: 51.7%;
    z-index: 2;
}

.adaptability__layout {
    &-1 {
        width: 50%;
        position: absolute;
        top: -17%;
        left: -44.6%;
    }
    &-2 {
        width: 55.5%;
        position: absolute;
        top: -3.9%;
        left: -30%;
    }
    &-3 {
        width: 55.4%;
        position: absolute;
        top: 9.8%;
        left: -10.7%;
    }
    &-4 {
        width: 82%;
        position: absolute;
        top: -2.9%;
        left: 48%;
    }
    &-5 {
        width: 89.7%;
        position: absolute;
        top: 7.2%;
        left: 29%;
    }
    &-6 {
        position: absolute;
        width: 51%;
        left: 67.3%;
        top: 14.3%;
    }
    &-7 {
        position: absolute;
        width: 55.6%;
        top: 23.5%;
        left: 8.8%;
    }
    &-8 {
        position: absolute;
        width: 115%;
        min-width: 114.5%;
        top: 29.5%;
        left: -49.9%;
    }
    &-9 {
        position: absolute;
        width: 33%;
        top: 27.6%;
        left: 81.2%;
    }
    &-10 {
        position: absolute;
        width: 55.6%;
        top: 37.2%;
        left: 27.9%;
    }
    &-11 {
        position: absolute;
        width: 56.5%;
        top: 50.8%;
        left: 47.5%;
    }
    &-12 {
        position: absolute;
        width: 55.6%;
        top: 65%;
        left: 67.8%;
    }
    &-13 {
        position: absolute;
        width: 56%;
        left: 28.3%;
        top: 70.9%;
    }
    &-14 {
        position: absolute;
        width: 33%;
        top: 77%;
        left: 9.5%;
    }
    &-15 {
        position: absolute;
        width: 60%;
        top: 79.8%;
        left: -30.5%;
    }
    &-16 {
        position: absolute;
        width: 28%;
        top: 89.3%;
        left: 27%;
    }
    &-17 {
        position: absolute;
        width: 56.8%;
        top: 78.5%;
        left: 87%;
    }
    &-18 {
        position: absolute;
        width: 58.5%;
        top: 84.6%;
        left: 47%;
    }
    &-19 {
        position: absolute;
        width: 25%;
        top: 96%;
        left: 14%;
    }
}

.adaptability__blueberry-1 {
    width: 4%;
    position: absolute;
    top: 1.5%;
    left: 19%;
    z-index: 2;
}

.adaptability__blueberry-2 {
    width: 4%;
    position: absolute;
    top: 2%;
    left: 16%;
    z-index: 2;
}

.adaptability__blueberry-shadow-1 {
    width: 4%;
    position: absolute;
    top: 10.5%;
    left: 19%;
    z-index: 1;
}

.adaptability__blueberry-shadow-2 {
    width: 4%;
    position: absolute;
    top: 12.5%;
    left: 16%;
    z-index: 1;
}

.adaptability__choco-1 {
    width: 1.5%;
    position: absolute;
    top: -2%;
    left: 28%;
    z-index: 2;
}

.adaptability__choco-2 {
    width: 2%;
    position: absolute;
    top: 2.8%;
    left: 13%;
    z-index: 2;
}

.adaptability__choco-3 {
    width: 1.5%;
    position: absolute;
    top: 0%;
    left: 5.2%;
    z-index: 2;
}

.adaptability__choco-shadow-1 {
    width: 1.5%;
    position: absolute;
    top: 13%;
    left: 28%;
    z-index: 2;
}

.adaptability__choco-shadow-2 {
    width: 2%;
    position: absolute;
    top: 11%;
    left: 15.8%;
    z-index: 2;
}

.adaptability__choco-shadow-3 {
    width: 1.5%;
    position: absolute;
    top: 13%;
    left: 5.2%;
    z-index: 2;
}

.adaptability__viburnum-1 {
    width: 5.5%;
    position: absolute;
    top: 24.8%;
    left: 62.5%;
    z-index: 2;
    opacity: 0;
}

.adaptability__viburnum-2 {
    width: 1%;
    position: absolute;
    top: 28.9%;
    left: 52.4%;
    z-index: 2;
}

.adaptability__viburnum-3 {
    width: 3%;
    position: absolute;
    top: 29%;
    left: 53%;
    z-index: 2;
}

.adaptability__viburnum-shadow-1 {
    width: 5.5%;
    position: absolute;
    top: 39.8%;
    left: 62.5%;
    z-index: 1;
    opacity: 0;
}

.adaptability__viburnum-shadow-2 {
    width: 1%;
    position: absolute;
    top: 41%;
    left: 52.4%;
    z-index: 1;
}

.adaptability__viburnum-shadow-3 {
    width: 3%;
    position: absolute;
    top: 39.5%;
    left: 53%;
    z-index: 1;
}

.adaptability__condiment {
    &-1 {
        width: 0.6%;
        position: absolute;
        top: 49.8%;
        left: 11.5%;
    }
    &-2 {
        width: 0.6%;
        position: absolute;
        top: 50.3%;
        left: 15.3%;
    }
    &-3 {
        width: 0.6%;
        position: absolute;
        top: 49.72%;
        left: 16.4%;
    }
    &-4 {
        width: 0.65%;
        position: absolute;
        top: 49.35%;
        left: 15.2%;
    }
    &-5 {
        width: 0.6%;
        position: absolute;
        top: 48.85%;
        left: 14.3%;
    }
    &-6 {
        width: 0.5%;
        position: absolute;
        top: 48.9%;
        left: 15.4%;
    }
    &-7 {
        width: 0.5%;
        position: absolute;
        top: 48.5%;
        left: 14.9%;
    }
    &-8 {
        width: 0.5%;
        position: absolute;
        top: 49.2%;
        left: 18.7%;
    }
    &-9 {
        width: 0.5%;
        position: absolute;
        top: 49%;
        left: 19.9%;
    }
    &-10 {
        width: 0.5%;
        position: absolute;
        top: 49.3%;
        left: 22.5%;
    }
    &-11 {
        width: 0.5%;
        position: absolute;
        top: 49%;
        left: 23.4%;
    }
    &-12 {
        width: 0.6%;
        position: absolute;
        top: 45.85%;
        left: 19.0%;
    }
}

.adaptability__condiment {
    &-shadow-1 {
        width: 0.6%;
        position: absolute;
        top: 68%;
        left: 11.5%;
        z-index: 1;
    }
    &-shadow-2 {
        width: 0.6%;
        position: absolute;
        top: 67.5%;
        left: 15.3%;
        z-index: 1;
    }
    &-shadow-3 {
        width: 0.6%;
        position: absolute;
        top: 67.9%;
        left: 16.4%;
        z-index: 1;
    }
    &-shadow-4 {
        width: 0.65%;
        position: absolute;
        top: 66%;
        left: 15.2%;
        z-index: 1;
    }
    &-shadow-5 {
        width: 0.6%;
        position: absolute;
        top: 65.85%;
        left: 14.3%;
        z-index: 1;
    }
    &-shadow-6 {
        width: 0.5%;
        position: absolute;
        top: 65.9%;
        left: 15.4%;
        z-index: 1;
    }
    &-shadow-7 {
        width: 0.5%;
        position: absolute;
        top: 65.5%;
        left: 14.9%;
        z-index: 1;
    }
    &-shadow-8 {
        width: 0.5%;
        position: absolute;
        top: 66.2%;
        left: 18.7%;
        z-index: 1;
    }
    &-shadow-9 {
        width: 0.5%;
        position: absolute;
        top: 64%;
        left: 19.9%;
        z-index: 1;
    }
    &-shadow-10 {
        width: 0.5%;
        position: absolute;
        top: 66.3%;
        left: 22.5%;
        z-index: 1;
    }
    &-shadow-11 {
        width: 0.5%;
        position: absolute;
        top: 66%;
        left: 23.4%;
        z-index: 1;
    }
    &-shadow-12 {
        width: 0.6%;
        position: absolute;
        top: 66.85%;
        left: 19.0%;
        z-index: 1;
    }
}

.adaptability__fruit {
    width: 7.5%;
    position: absolute;
    z-index: 2;
    top: 67.5%;
    left: 0.5%;
}

.adaptability__fruit-shadow {
    width: 10%;
    position: absolute;
    z-index: 1;
    top: 68%;
    left: 0.5%;
    opacity: 1;
}

.ending {
    padding-bottom: 75.2%;
    position: relative;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0px -220px 100px 20px rgba(0,0,0,0.1);
    @media (max-width: @breakpoint-small-max) {
        padding-bottom: 100%;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        padding-bottom: 150%;
    }
}

.ending__iphone {
    width: 32.05%;
    position: absolute;
    top: -15% !important;
    left: 43% !important;
    z-index: 2;
}

.ending__macbook {
    min-width: 131%;
    position: absolute;
    top: 58.9% !important;
    left: -11.9% !important;
    z-index: 1;
}

.ending__fruit {
    &-1 {
        width: 10%;
        position: absolute;
        top: 28% !important;
        left: 70% !important;
        z-index: 3;
    }
    &-2 {
        width: 7%;
        position: absolute;
        top: 56% !important;
        left: 55% !important;
        z-index: 3;
    }
    &-3 {
        width: 4%;
        position: absolute;
        top: 90% !important;
        left: 63% !important;
        z-index: 3;
    }
    &-4 {
        width: 5%;
        position: absolute;
        left: 69% !important;
        top: 94% !important;
        z-index: 3;
    }
    &-5 {
        width: 4.2%;
        position: absolute;
        top: 91% !important;
        left: 79.3% !important;
        z-index: 3;
    }
    &-6 {
        width: 18%;
        position: absolute;
        top: 95% !important;
        left: 50% !important;
        z-index: 1;
    }
    &-7 {
        width: 5%;
        position: absolute;
        top: 102% !important;
        left: 73% !important;
        z-index: 3;
    }
    &-8 {
        width: 12%;
        position: absolute;
        top: 113% !important;
        left: 79% !important;
        z-index: 3;
    }
    &-9 {
        width: 5%;
        position: absolute;
        top: 110% !important;
        left: 80% !important;
        z-index: 3;
    }
}

.ending__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 14.5%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    @media (max-width: @breakpoint-xsmall-max) {
        padding-top: 0%;
    }
}

.ending__substrate-left {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(41, 49, 73, 0.7);
}

.ending__substrate-right {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    background-color: rgba(18, 155, 201, 0.7);
}

.ending__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 165px;
    position: relative;
    @media (max-width: @breakpoint-small-max) {
        margin-bottom: 50px;
    }
}

.ending__btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 66px;
    height: 66px;
    min-width: 66px;
    min-height: 66px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin-bottom: 13px;
    &:hover {
        border-color: #76b7ee;
        background-color: #76b7ee;
        transition: border-color 0.25s, background-color 0.25s;
        .ending__btn-arrow {
            display: none;
        }
        .ending__btn-arrow-hovered {
            display: block;
        }
    }
    &:focus {
        outline: 1px solid #fff;
    }
}

.ending__btn-arrow {
    width: 10px;
    height: 18px;
    fill: #fff;
    transform: rotate(180deg);
    transform-origin: 50% 50%;
}
.ending__btn-arrow-hovered {
    display: none;
    width: 10px;
    height: 26px;
    fill: #fff;
    transform: rotate(180deg);
    transform-origin: 50% 50%;
}

.ending__btn-text {
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
}

.ending__gratitude {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 3;
}

.ending__gratitude-first {
    margin-bottom: 90px;
    @media (max-width: @breakpoint-small-max) {
        max-width: 80%;
        margin-bottom: 40px;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        margin-bottom: 20px;
    }
}

.ending__gratitude-second {
    position: relative;
    @media (max-width: @breakpoint-small-max) {
        max-width: 50%;
    }
}

.ending__gratitude-decor-left {
    width: 27.4%;
    height: 3px;
    position: absolute;
    top: 50%;
    left: -32.6%;
    background-color: #fff;
}

.ending__gratitude-decor-right {
    width: 27.4%;
    height: 3px;
    position: absolute;
    top: 50%;
    right: -32.6%;
    background-color: #fff;
}

.to-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    position: fixed;
    top: 75%;
    right: 2%;
    z-index: 10;
    background-color: rgba(27%, 30%, 33%, 0.5);
    color: #fff;
    font-size: 11px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.11px;
    transition: background-color 0.25s;
    &:hover {
        color: #fff;
        text-decoration: none;
        background-color: rgba(27%, 30%, 33%, 1);
        transition: background-color 0.25s;
        .to-top__arrow {
            transform: translateY(-2px);
            transition: transform 0.25s;
        }
    }
}

.to-top__arrow {
    width: 7px;
    height: 13px;
    margin-bottom: 5px;
    fill: #fff;
    transition: transform 0.25s;
}

.back__arrow {
    width: 30px;
    height: 11px;
    fill: #fff;
    position: absolute;
    top: 20%;
    left: 60%;
    transform: rotate(-45deg);
    transform-origin: 50% 50%;
}
