body {
    background-color: #1d1113;
    font-family: @font-primary;
    color: #000;
}

h2 {
    color: #ffeca3 !important;
}

.page {
    overflow-x: hidden;
}

.container-full {
    max-width: 1400px;
    margin: 0 auto;
}

.container-short {
    max-width: 1200px;
    padding: 0 100px;
    margin: 0 auto;
}

.intro {
    height: 100vh;
    background: #e7f0f2 url('../img/intro-bg.jpg') 50% 50% no-repeat;
    background-size: cover;
}

.intro__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-desc {
    display: flex;
    justify-content: space-between;
}

.intro__title {
    font-family: @font-titles;
    
}
