body {
    font-family: @font-primary;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
}

.page {
    overflow: hidden;
}

.container {
    max-width: 1400px;
    padding: 0 100px;
    margin: 0 auto;
    @media (max-width: @breakpoint-xsmall-max) {
        padding: 0 10px;
    }
}

.intro {
    height: 100vh;
    background: #e7f0f2 url('../img/intro-bg.jpg') 50% 50% no-repeat;
    background-size: cover;
    position: relative;
}

.intro__section-desc {
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    top: 7.6%;

}

.intro__content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-desc {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: @font-section-desc;
    font-size: 16px;
    letter-spacing: 0px;
    color: rgb(114,124,131);
    font-weight: bold;
}

.intro__titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 14.4%;
    margin-bottom: 4.5%;
}

.intro__overhead {
    width: 240px;
    height: 18px;
    fill: #727c83;
    margin-bottom: 5.5%;
}

.intro__sitetitle {
    width: 786px;
    max-width: 100%;
    height: 117px;
    margin-top: 6.5%;
    margin-bottom: 10.5%;
    fill: #5d6460;
}

.intro__subtitle {
    width: 355px;
    max-width: 50%;
    height: 22px;
    fill: #868787;
    position: absolute;
    bottom: 24%;
    right: 1.6%;
}

.intro__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 67px;
    height: 67px;
    margin: 0 auto 5%;
    border: 2px solid #ffffff;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    svg {
        width: 10px;
        height: 18px;
        fill: #fff;
    }
    &:focus {
        outline: 1px solid #fff;
    }
}

.section-desc__number {
    position: relative;
    &::before {
        content: '';
        width: 35px;
        height: 1px;
        background-color: #717b83;
        position: absolute;
        top: 50%;
        left: -45px;
        transform: translateY(-50%);
    }
}

.about {
    padding-top: 6.7%;
}

.about__section-desc {
    margin-bottom: 9.4%;
}

.about__title {
    margin-bottom: 4%;
    text-align: center;
    svg {
        width: 782px;
        max-width: 100%;
        height: 61px;
        fill: #69b1d2;
    }
}

.about__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 495px);
    grid-column-gap: 120px;
    grid-row-gap: 20px;
    justify-content: center;
    margin: 0 8% 4.8% 11.2%;
    font-size: 24px;
    font-weight: 400;
    p {
        margin: 35px 0 !important;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        grid-template-columns: repeat(auto-fit, 300px);
        margin: 0 0 10%;
        font-size: 18px;
    }
}

.about__video-wrapper {
    max-width: 1260px;
    padding-bottom: 53.5%;
    position: relative;
    margin: 0 5% 13.5%;
    @media (max-width: @breakpoint-small-max) {
        margin: 0 auto 13.5%;
    }
}

.about__video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.about__goals {
    display: grid;
    grid-column-gap: 70px;
    grid-row-gap: 25px;
    grid-template-columns: 350px 500px;
    justify-content: center;
    margin-bottom: 14%;
    margin-left: 11%;
    @media (max-width: @breakpoint-large-max) {
        margin-left: 0;
    }
    @media (max-width: @breakpoint-small-max) {
        grid-template-columns: 1fr;
    }
}

.about__goals-title {
    margin-bottom: 20px;
    span {
        padding-left: 137px;
        font-size: 48px;
        letter-spacing: 2px;
        line-height: 1;
        color: rgb(29,140,189);
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        &::before {
            content: '';
            width: 109px;
            height: 4px;
            background-color: #1d8bbd;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        @media (max-width: @breakpoint-xsmall-max) {
            padding-left: 65px;
            font-size: 28px;
            &::before {
                width: 50px;
            }
        }
    }
}

.about__goals-text {
    font-size: 24px;
    @media (max-width: @breakpoint-xsmall-max) {
        font-size: 18px;
    }
}

.home {
    padding-top: 10.7%;
    background: linear-gradient(to bottom, #dbeffa 1%, #fff 90%);
}

.home__section-desc {
    margin-bottom: 9%;
}

.home-tile {
    position: relative;
    z-index: 2;
    padding-bottom: 39.5%;
}

.home-tile__mark {
    position: absolute;
    z-index: 3;
    width: 46%;
    top: -18%;
    left: 7.3%;
}

.home-tile__image {
    &-1 {
        width: 55%;
        position: absolute;
        top: 39.5%;
        left: 6.5%;
    }
    &-2 {
        width: 51%;
        position: absolute;
        top: 69%;
        left: 36%;
    }
    &-3 {
        width: 52%;
        position: absolute;
        top: 93%;
        left: 60.6%;
    }
    &-4 {
        width: 93%;
        position: absolute;
        top: 13%;
        left: 36%;
    }
    &-5 {
        width: 63%;
        position: absolute;
        top: 63%;
        left: 73.5%;
    }
    &-6 {
        width: 64%;
        position: absolute;
        top: 49%;
        left: 103.4%;
    }
}

.home-layout {
    position: relative;
    z-index: 2;
}

.home-layout__news {
    &-title {
        position: absolute;
        z-index: 3;
        width: 34.9%;
        top: 23.31%;
        left: 10.5%;
    }
    &-1 {
        position: absolute;
        z-index: 3;
        width: 25.3%;
        top: 24.9%;
        left: 10.5%;
    }
    &-2 {
        position: absolute;
        z-index: 3;
        width: 25.2%;
        top: 30.14%;
        left: 10.6%;
    }
    &-3 {
        position: absolute;
        z-index: 3;
        width: 25.2%;
        top: 35.7%;
        left: 10.5%;
    }
    &-4 {
        position: absolute;
        z-index: 3;
        width: 52%;
        top: 24.8%;
        left: 37.4%;
    }
    &-5 {
        position: absolute;
        z-index: 3;
        width: 25.7%;
        top: 32.85%;
        left: 37.4%;
    }
    &-6 {
        position: absolute;
        z-index: 3;
        width: 25.1%;
        top: 32.85%;
        left: 64%;
    }
}

.home-layout__questionnaire {
    &-title {
        position: absolute;
        z-index: 3;
        width: 18%;
        top: 55.1%;
        left: 10.6%;
    }
    &-all {
        position: absolute;
        z-index: 3;
        width: 10%;
        top: 56.1%;
        left: 10.6%;
    }
    &-1 {
        position: absolute;
        z-index: 3;
        width: 25%;
        top: 56.5%;
        left: 11%;
    }
    &-2 {
        position: absolute;
        z-index: 3;
        width: 25%;
        top: 56.5%;
        left: 37.4%;
    }
    &-3 {
        position: absolute;
        z-index: 3;
        width: 25%;
        top: 56.5%;
        left: 64.3%;
    }
}

.home-layout__video {
    &-title {
        position: absolute;
        z-index: 3;
        width: 18%;
        top: 61.3%;
        left: 10.6%;
    }
    &-all {
        position: absolute;
        z-index: 3;
        width: 9.5%;
        top: 62.2%;
        left: 10.6%;
    }
    &-1 {
        position: absolute;
        z-index: 3;
        width: 25%;
        top: 62.65%;
        left: 10.6%;
    }
    &-2 {
        position: absolute;
        z-index: 3;
        width: 25%;
        top: 62.65%;
        left: 37%;
    }
    &-3 {
        position: absolute;
        z-index: 3;
        width: 25%;
        top: 62.65%;
        left: 64%;
    }
}
